@font-face {
    font-family: "Font Header";
    font-style: normal;
    font-weight: normal;
    src: local("Noto Sans CJK SC");
}

@font-face {
    font-family: "Font Body";
    font-style: normal;
    font-weight: normal;
    src: local("Noto Serif CJK SC");
}

@font-face {
    font-family: "Font Transcription";
    font-style: normal;
    font-weight: normal;
    src: local("Noto Sans");
}

@font-face {
    font-family: "Font Translation";
    font-style: normal;
    font-weight: normal;
    src: local("Noto Serif");
}

@font-face {
    font-family: "Font Strong";
    font-style: normal;
    font-weight: normal;
    src: local("AR PL UKai CN");
}

@font-face {
    font-family: "Font Emphasis";
    font-style: normal;
    font-weight: normal;
    src: local("Baekmuk Batang");
}
