@font-face {
    font-family: "Font Header";
    font-style: normal;
    font-weight: normal;
    src: local("Noto Sans Hebrew");
}

@font-face {
    font-family: "Font Body";
    font-style: normal;
    font-weight: normal;
    src: local("Noto Serif Hebrew");
}

@font-face {
    font-family: "Font Transcription";
    font-style: normal;
    font-weight: normal;
    src: local("Noto Sans");
}

@font-face {
    font-family: "Font Translation";
    font-style: normal;
    font-weight: normal;
    src: local("Noto Serif");
}

@font-face {
    font-family: "Font Strong";
    font-style: normal;
    font-weight: normal;
    src: local("Suez One");
}

@font-face {
    font-family: "Font Emphasis";
    font-style: normal;
    font-weight: normal;
    src: local("Gveret Levin");
}