div.models {
    margin-bottom: 1em;
    direction: rtl;
}

div.models > div.models-item {
    margin-bottom: 0.3em;
    orphans: 2;
    widows: 2;
}

div.models > div.models-group {
    display: table;
    table-layout: fixed;
    width: 100%;
    direction: rtl;
}

div.models > div.models-group > div.models-item.paired {
    display: table-row;
}

div.models > div.models-group > div.models-item.paired > div.models-col1,
div.models > div.models-group > div.models-item.paired > div.models-col2 {
    display: table-cell;
    vertical-align: top;
    width: 50%;
}

div.models > div.models-group > div.models-item.paired > div.models-col1 {
    padding-inline-end: 1em;
}

div.models span.models-phrase {
    font-family: "Font Strong", sans-serif;
    font-size: 1em;
    font-weight: normal;
    direction: rtl;
    unicode-bidi: embed;
}

div.models span.models-transcription {
    font-family: "Font Transcription", sans-serif;
    font-size: 0.8em;
    font-style: normal;
    color: darkgrey;
    direction: ltr;
    unicode-bidi: embed;
}

div.models span.models-translation {
    font-family: "Font Translation", serif;
    direction: ltr;
    unicode-bidi: embed;
}
