@font-face {
    font-family: "Font Header";
    font-style: normal;
    font-weight: normal;
    src: local("Helvetica");
}

@font-face {
    font-family: "Font Body";
    font-style: normal;
    font-weight: normal;
    src: local("Times New Roman");
}

@font-face {
    font-family: "Font Transcription";
    font-style: normal;
    font-weight: normal;
    src: local("Helvetica");
}

@font-face {
    font-family: "Font Translation";
    font-style: normal;
    font-weight: normal;
    src: local("Times New Roman");
}